<h1>Suppression de votre compte</h1>
<p>Bonjour {{ user.firstName }}, nous vous confirmons la suppression de votre compte utilisateur sur notre site Bands n'Gigs
    et nous le regrettons</p>

<p>Bon débarras</p>

<p>L'équipe Band's n Gigs</p>