.floatleft {
    float: left !important;
}

.floatright {
    float: right;
}

.fontsize14 {
    font-size: 14px;
}

.colorwhite {
    color: #fff;
}

.margin20 {
    margin: 20px;
}

.margintop20 {
    margin-top: 20px;
}

.margintop20 label {
    margin-top: 20px;
}

.marginbottom20 {
    margin-bottom: 20px;
}

.qty2 {
    color: #000 !important;
    background-color: #f1f1f1 !important;
    font-size: 15px;
    border: none !important;
}

.marginleft20 {
    margin-left: 20px;
}

.formbackground {
    margin-top: 20px;
    background: #f9f9f9;
    border: 1px solid #eee;
    margin-bottom: 20px;
    padding: 30px;
}

.mymapstyle p {
    width: 300px;
    text-align: left;
    line-height: 100%;
    font-size: 12px;
    margin-top: 10px;
}

.mymapstyle h3 {
    font-size: 16px;
    text-transform: uppercase;
}

.address p {

    margin: 5px;
!important;
    padding: 0;
!important;

}

.alert {
    padding: 15px;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: bold;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* PROFILE */

.check-user label:first-child {
    font-size: 14px;
    right: 0px;
}

.check-user select {
    padding-left: 10px;
    float: left;
    width: 250px;
    font-size: 14px;
}

.select-locality {
    background: #f9f9f9;
    border: 1px solid #eee;
}

.input-age {
    width: 50px;
}

.bigmarginright select {
    margin-right: 800px;
}

.logohome{

    width: inherit !important;
    height: 130px !important;
    max-width : 200px !important;

}

.fullwidth {
    width: 100% !important;
}

.align-center {

    margin: 0 auto;

}

.rules {
    height: 400px;
    width: 400px;
    overflow-y: scroll;
}

.rules input{
    float: left;
    margin-top : 3px;
}

.rules label{
    margin-right : 150px;
}

.bands img{

    height: 250px !important;
}

.update-btn{
    float: right !important;
}

.event-image{
    height: 250px;
    width:auto;
    overflow: hidden;
}

.mini-img img{
    
    height : 40px;
    width:auto;
    overflow: hidden;
    border-radius: 0px;
}

.band-venue-members-img img{

    width : 85px;
    height:auto;
    overflow: hidden;
    margin-left : -45px;
    border-radius: 0px;
;
}

.profile-avatar-img{
    border-radius: 0 !important;
    box-shadow: none !important;
}





