{% extends 'pages/default/layout.html.twig' %}

{% block content %}

        <!-- Content-->

        <div class="content">

            <!-- Slider -->
            {% include 'pages/homepage/slider.html.twig' %}
            <!-- end slider -->

            <!--bands -->
            {% include 'pages/homepage/bands.html.twig' %}
            <!-- bands end -->

            <!-- home-map-->
            {% include 'pages/others/googlemap.html.twig' %}
            <!-- home-map end-->

            <!--venues -->
            {% include 'pages/homepage/venues.html.twig' %}
            <!-- venues end -->

        </div>
        <!-- Content end -->




{% endblock %}