<div class="custom-form">
    {{ form_start(galleryForm) }}

    <div>

        {{ form_row(galleryForm.file) }}
        <button type="submit" class="btn  big-btn  color-bg flat-btn floatright">Load image<i
                    class="fa fa-angle-right"></i></button>

    </div>


    {{ form_end(galleryForm) }}
        <a href="{{ path('bands-update', {'id':id}) }}">
            <button class="btn  big-btn  color-bg flat-btn marginleft20">Back</button>
        </a>
</div>





