{% extends 'pages/default/layout.html.twig' %}

{% block content %}
    <!--section -->
    <section>
        <div class="container">
            <div class="row home-posts">
                <div class="container">
                    <div class="section-title">
                        <h2>Evènements favoris</h2>
                        <div class="section-subtitle">Evènements favoris</div>
                        <span class="section-separator"></span>
                        <p>Liste de vos évènements favoris</p>
                    </div>
                </div>

                {% if favorites %}
                    <div class="marginbottom20">

                        {% include 'pages/others/googlemap.html.twig' %}
                    </div>
                    {% include 'pages/events/list.html.twig' %}
                {% else %}

                    <p>Vous n'avez aucun évènement favori, les voici tous <a href="{{ path('events') }}">ICI</a></p>

                {% endif %}
            </div>
        </div>

    </section>
    <!-- section end -->

{% endblock %}