{% extends "pages/default/layout.html.twig" %}


    {% block content %}
            <section class="gray-bg no-pading no-top-padding" id="sec1">
                <div class="col-list-wrap  center-col-list-wrap left-list">

                    <div class="container">

                        <!-- list-main-wrap-->
                        <div class="list-main-wrap fl-wrap card-listing">
                            <div class="container">
                                <div class="section-title">
                                    <h2>Gestion évènements</h2>
                                    <div class="section-subtitle">Gestion évènements</div>
                                    <span class="section-separator"></span>
                                    <p>Gestion de vos évènements</p>
                                </div>
                            </div>
                            {% if events is empty %}
                            <p>Vous n'avez pas d'évènement</p>
                                <a href="{{ path('event-new') }}" class="btn transparent-btn custom-scroll-link">Créez-en un ! <i class="fa fa-music"></i></a>

                            {% endif %}
                            {% include "pages/events/list.html.twig" %}
                        </div>
                        <!-- list-main-wrap end-->
                    </div>
                </div>
            </section>
    {% endblock %}

