<div class="col-md-3">
    <div class="fixed-bar fl-wrap">
        <div class="user-profile-menu-wrap fl-wrap">
            <!-- user-profile-menu-->
            <div class="user-profile-menu">
                <h3>Main</h3>
                <ul>
                    <li><a href="{{ path('events-update', {'id':event.id}) }}" class="user-profile-act"><i
                                    class="fa fa-calendar"></i> Edit event</a></li>

                    <li><a href="{{ path('image', {'type': 'flyer', 'id':event.id }) }}"><i class="fa fa-image"></i> Edit
                            Flyer</a></li>

                    <li><a href="{{ path('events-remove', {'id':event.id }) }}"><i class="fa fa-image"></i> Remove
                            Event</a></li>
                </ul>
            </div>
            <!-- user-profile-menu end-->
            <a href="{{ path('logout') }}" class="log-out-btn">Log Out</a>
        </div>
    </div>
</div>