{% extends "pages/events/layout.html.twig" %}


{% block right %}
    {{ form_start(removeEventForm) }}
    <div class="col-md-7">
        <!-- profile-edit-container-->
        {{ form_start(removeEventForm, {'attr':{novalidate:'novalidate'}}) }}
        <div class="profile-edit-header fl-wrap">
            <h4>Suppression évènement</h4>
        </div>
        <div class="profile-edit-container add-list-container">

            <div class="custom-form">
                {{ form_row(removeEventForm.active, {'label':'Voulez-vous vraiment supprimer cet évènement ? (cette action est irréversible)', 'attr':{'class':'js-example-basic-single fullwidth'}}) }}
            </div>


        </div>
        <button class="btn  big-btn  color-bg flat-btn">Enregistrer<i
                    class="fa fa-angle-right"></i></button>
    </div>
    </div>
    {{ form_end(removeEventForm) }}

{% endblock %}
