<h1>Suppression de la page de votre groupe {{ band.name }}</h1>
<p>Bonjour {{ user.firstName }}, nous vous confirmons la suppression de votre groupe sur notre site.
    Les évènements déjà enregistrés restent accessibles mais vous ne pourrez plus ajouter votre groupe a un évènement.
    </p>

<p>Vous ne nous manquerez pas</p>

<p>L'équipe Band's n' Gigs</p>
