{% extends 'pages/default/layout.html.twig' %}

{% block content %}
    <!--  section  -->
    <section class="gray-bg no-pading no-top-padding" id="sec1">
        <div class="col-list-wrap  center-col-list-wrap left-list">

            <div class="container">

                <!-- list-main-wrap-->
                <div class="list-main-wrap fl-wrap card-listing">
                    <div class="container">
                        <div class="section-title">
                            <h2>Groupes favoris</h2>
                            <div class="section-subtitle">Groupes favoris</div>
                            <span class="section-separator"></span>
                            <p>Liste de vos groupes favoris</p>
                        </div>
                    </div>

                    <div class="marginbottom20">
                        <p>Prochains concerts de vos groupes préférés</p>
                        {% if events %}
                        {% include 'pages/others/googlemap.html.twig' %}
                    </div>
                    {% include 'pages/bands/list.html.twig' %}
                    {% else %}
                        <p>vous n'avez pas de groupe préféré, retrouvez-les tous <a href="{{ path("bands") }}">ICI</a></p>
                    {% endif %}
                    <!-- listing-item end-->

                </div>
                <!-- list-main-wrap end-->
            </div>
        </div>
    </section>
    <!--  section  end-->

{% endblock %}

