<div class="col-md-2">
    <div class="fixed-bar fl-wrap">
        <div class="edit-profile-photo fl-wrap">
            <img src="{{ band.logo.url }}" class="respimg" alt="">
            <div class="change-photo-btn">
                <div class="photoUpload">
                    <a href="{{ path('image', {'type': 'logo', 'id':band.id }) }}" class="colorwhite"><i
                                class="fa fa-upload"></i> Upload Photo</a>
                </div>
            </div>
        </div>
    </div>

</div>