{% extends "pages/bands/layout.html.twig" %}


{% block right %}
    {{ form_start(removeBandForm) }}
    <div class="col-md-7">


        <div class="profile-edit-container add-list-container">
            <div class="profile-edit-header fl-wrap">
                <h4>Suppression d'un groupe</h4>
            </div>
            <div class="custom-form">
                {{ form_row(removeBandForm.active, {'label':'Voulez-vous vraiment supprimer ce groupe ? ', 'attr':{'class':'js-example-basic-single fullwidth'}}) }}
            </div>

        </div>
        <button class="btn  big-btn  color-bg flat-btn margintop20">Enregistrer<i class="fa fa-angle-right"></i>
        </button>
    </div>

    <!-- profile-edit-container end-->



    {{ form_end(removeBandForm) }}

{% endblock %}