<h1>Suppression de la page de votre café concert {{ venue.name }}</h1>
<p>Bonjour {{ user.firstName }}, nous vous confirmons la suppression de votre café-concert sur notre site.
    Les évènements déjà enregistrés restent accessibles mais
 plus aucun évènement ne pourront être enregistrés dans votre établissement sur notre site,
    la fin est proche</p>

<p>C'est tout ce que nous vous souhaitons...</p>
<p>L'équipe Band's n' Gigs</p>
