{% extends 'pages/default/layout.html.twig' %}

{% block content %}
    <!--  section  -->
    <section class="gray-bg no-pading no-top-padding" id="sec1">
        <div class="col-list-wrap  center-col-list-wrap left-list">
            <div class="container">

                <!-- list-main-wrap-->
                <div class="list-main-wrap fl-wrap card-listing">
                    <div class="container">
                        <div class="section-title">
                            <h2>Cafés-concerts favoris</h2>
                            <div class="section-subtitle">Cafés-concerts favoris</div>
                            <span class="section-separator"></span>
                            <p>Liste de vos cafés-concerts favoris</p>
                        </div>
                    </div>

                    <div class="marginbottom20">
                        {% if venues %}
                        {% include 'pages/others/googlemap.html.twig' %}
                    </div>
                    {% include 'pages/venues/list.html.twig' %}
                    {% else %}
                        <p> Vous n'avez pas de café-concert favoris, les voici tous <a href="{{ path("venues") }}">ICI</a></p>
                    {% endif %}

                </div>
                <!-- list-main-wrap end-->
            </div>
        </div>
    </section>
    <!--  section  end-->

{% endblock %}