{% extends 'pages/default/layout.html.twig' %}

{% block content %}
    <!--  section  -->
    <section class="gray-bg no-pading no-top-padding" id="sec1">
        <div class="col-list-wrap  center-col-list-wrap left-list">
            <div class="container">

                <!-- list-main-wrap-->
                <div class="list-main-wrap fl-wrap card-listing">
                    <div class="container">
                        <div class="section-title">
                            <h2>Your venues</h2>
                            <div class="section-subtitle">Subscribed Venues</div>
                            <span class="section-separator"></span>
                            <p>Manage your venues</p>
                        </div>
                    </div>
                    {% if venues is empty %}
                        <p>You have no venue</p>
                        <a href="{{ path("venue-new") }}" class="btn transparent-btn custom-scroll-link">Create yours <i class="fa fa-music"></i></a>


                    {% endif %}
                    {% include 'pages/venues/list.html.twig' %}

                </div>
                <!-- list-main-wrap end-->
            </div>
        </div>
    </section>
    <!--  section  end-->

{% endblock %}