{% extends 'pages/venues/layout.html.twig' %}
{% block right %}
    {{ form_start(managerForm) }}
    <div class="col-md-7">


        <div class="custom-form">

            <div class="check-user floatleft marginbottom20">
                {{ form_row(managerForm.managers, {'attr':{'class':'js-example-basic-multiple', 'style':'width:100%'}}) }}
            </div>

        </div>

        <button class="btn  big-btn  color-bg flat-btn margintop20">Save Changes<i class="fa fa-angle-right"></i>
        </button>

    </div>
    {{ form_widget(managerForm._token) }}
    {{ form_end(managerForm, {'render_rest':false}) }}
{% endblock %}