<h1>Avertissement de changement de mot de passe</h1>
<p>Bonjour {{ user.firstName }}! Nous vous informons
    qu'une tentative de changement de passe n'a pas abouti sur notre site</p>
<p>Si vous n'en êtes pas l'auteur, il est temps de vous en inquièter !</p>
<p>L'équipe Bands n'Gigs</p>