<!-- header-->
<header class="main-header dark-header fs-header sticky">
    <div class="header-inner">
        <div class="logo-holder">
            <a href="{{ path('homepage') }}"><img src="/images/logo.png" alt="band's n gigs"></a>
        </div>
        {#<div class="show-search-button"><i class="fa fa-search"></i> <span>Search</span></div>#}
        <a href="#" class="add-list">Add Listing <span><i class="fa fa-plus"></i></span></a>
        {%  if app.user == null %}
        <a href="{{ path('login') }}"><div class="show-reg-form"><i class="fa fa-sign-in"></i>Sign In</div></a>
       {% else %}
           <a href="{{ path('logout') }}"><div class="show-reg-form"><i class="fa fa-sign-in"></i>Logout</div></a>
        {% endif %}
        <!--  navigation -->

       {% include "pages/default/nav.html.twig" %}
        <!-- navigation  end -->
    </div>
</header>
<!--  header end -->
