<div class="header-search vis-header-search">
    <div class="header-search-input-item">
        <input type="text" placeholder="Keywords" value=""/>
    </div>
    <div class="header-search-select-item">

        <select data-placeholder="All Categories" class="chosen-select">
            {% for s in styles %}
                <option>{{ s.style }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="header-search-button" onclick="window.location.href='listing.html'">Search</button>


</div>