
<div class="col-md-3">
    <div class="fixed-bar fl-wrap">
        <div class="user-profile-menu-wrap fl-wrap">
            <!-- user-profile-menu-->
            <div class="user-profile-menu">
                <h3>Main</h3>
                <ul>
                    <li><a href="{{ path('admin') }}" class="user-profile-act"><i
                                class="fa fa-user-o"></i> Users</a></li>
                    <li><a href="{{ path('admin-bands') }}" class="user-profile-act"><i
                                    class="fa fa-user-o"></i> Bands</a>

                    </li>

                </ul>
            </div>
            <a href="{{ path('logout') }}" class="log-out-btn">Log Out</a>
        </div>
    </div>
</div>